<!doctype html>
<html lang="pt-br">
  <%- include('includes/head.html'); %>
  <body>
    <%- include('includes/navbar.html'); %>
    <div class="container">
      <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8 my-2">
          <h1 class="display-1 text-center">Agenda</h1>
          <p class="text-center lead">Seus contatos estão abaixo</p>
          <%- include('includes/messages.html'); %>
          <div class="responsive-table">
            <table class="table my-2">
              <tr>
                <td>Glenon</td>
                <td>Mateus</td>
                <td>99999999999</td>
                <td>glenonmateus@gmail.com</td>
              </tr>
            </table>
          </div>
        </div>
        <div class="col-lg-2"></div>
      </div>
    </div>
  </body>
  <%- include('includes/scripts.html'); %>
</html>
